[submodule "e_commerce_shippings_ms"]
	path = e_commerce_shippings_ms
	url = https://github.com/amirbena/e_commerce_shippings_ms
[submodule "e_commerce_purchases_ms"]
	path = e_commerce_purchases_ms
	url = https://github.com/amirbena/e_commerce_purchases_ms
[submodule "e_commerce_financial_network_ms"]
	path = e_commerce_financial_network_ms
	url = https://github.com/amirbena/e_commerce_financial_network_ms
[submodule "e_commerce_deals_ms"]
	path = e_commerce_deals_ms
	url = https://github.com/amirbena/e_commerce_deals_ms
[submodule "e_commerce_categories__products_ms"]
	path = e_commerce_categories__products_ms
	url = https://github.com/amirbena/e_commerce_categories__products_ms
[submodule "e_commerce_users_ms"]
	path = e_commerce_users_ms
	url = https://github.com/amirbena/e_commerce_users_ms
